<h3>Nowa wycena projektu od klienta Woooo Hooo</h3>

<h4>Informacje z formularza</h4>

<h6>Imie i nazwisko: {{ name }}</h6>
<h6>E-mail: {{ email }}</h6>
<h6>Stara Strona internetowa: {{ website }}</h6>
<h6>Rodzaj projektu: {{ project }}</h6>
<h6>RWD: {{ rwd }}</h6>
<h6>CMS: {{ cms }}</h6>
<h6>Ilość podstron na stronie</h6>
<p>{{ bigwebsite }}</p>
<h6>Strona wielojęzyczna: {{ lang }}</h6>
<h6>Dodatkowe funkcjonalności na stronie: {{ services|format_args_as_text }}</h6>
<h6>Tekst na stronę: {{ text }}</h6>
<h6>Projekt graficzny: {{ graphic }}</h6>
<h6>Dodatkowe informacje:</h6>
<p>{{ message }}</p>
