{% extends "PortfolioBundle::base.html.twig" %}

{% form_theme freeForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block pageTitle %}Bezpłatna wycena | Robert Saternus{% endblock %}

{% block pageDesc %}Wypełnij formularz i sprawdź moją wycenę projektu strony internetowej. Dodatkowo przygotuję wstępny szkic Twojej nowej strony internetowej. To wszystko za darmo!{% endblock %}

{% block stylesheets %}

    {% stylesheets
        'bundles/portfolio/css/mainpage.css'
        filter = 'cssrewrite'
        output ='assets/css/compiled-projects.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}


{% block pageBody %}
<body class="projekty">

<div class="cover"></div>

<header id="projects_menu">
    <nav class="navigation">
        <ul>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#home">HOME</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#kim">KIM JESTEM?</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#technologie">TECHNOLOGIE</a></li>
            <li class="special scroll"><a  href="">PROJEKTY</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#kontakt">KONTAKT</a></li>
            <li><a class="active" href="{{ path('portfolio_free_form') }}">BEZPŁATNA WYCENA</a></li>

        </ul>
    </nav>

    <div class="burger">
        <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>

        <div class="traggle">
            <ul>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#home">HOME</a></li>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#kim">KIM JESTEM?</a></li>
                <li class="scroll tech"><a href="{{ path('portfolio_main') }}#technologie">TECHNOLOGIE</a></li>
                <li class="special scroll active"><a href="">PROJEKTY</a></li>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#kontakt">KONTAKT</a></li>
                <li><a class="active" href="{{ path('portfolio_free_form') }}">BEZPŁATNA WYCENA</a></li>
                {#<li class="flag flag_pl flag-active"><a href="#"><img src="{{ asset('bundles/portfolio/img/pl.png') }}" /> </a></li>#}
                {#<li class="flag flag_en"><a href="#"><img src="{{ asset('bundles/portfolio/img/en.png') }}" alt="flaga brytyjska" /></a></li>#}
            </ul>
        </div>
    </div>

</header>


<section id="projekty" class="free-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Formularz bezpłatnej wyceny</h1>
                <p class="lead">Potrzebujesz stworzyć stronę internetową? Myślisz o otwarciu sklepu w sieci? A może chcesz zmienić wygląd Twojego bloga? We wszystkich tych sprawach (i nie tylko) mogę Tobie pomóc. Przygotowałem dla Ciebie <span class="highlight"> darmową wycenę ze wstępnym szkicem Twojego nowego projektu</span>. Wystarczy, że wypełnisz poniższy formularz a ja do 3 dni roboczych prześlę na Twojego maila, <span class="highlight">moją propozycję dla Ciebie</span>. W ten sposób nic nie ryzykujesz.</p>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="feedback_good">
                        {{ flashMessage }}
                    </div>
                {% endfor %}


                {{ form(freeForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_start(freeForm) }}
                {{ form_widget(freeForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_widget(freeForm) }}

                {{ form_end(freeForm) }}



                {#<form class="form-horizontal" method="post" action="{{ path('portfolio_free_form') }}" novalidate>#}
                    {#<div class="form-group">#}
                        {#<div class="col-sm-12">#}
                            {#{{ form_widget(freeForm.name, {'attr': {'class': 'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<div class="col-sm-12">#}
                            {#{{ form_widget(freeForm.email, {'attr': {'class': 'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<div class="col-sm-12">#}
                            {#{{ form_widget(freeForm.bigwebsite, {'attr': {'class': 'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<div class="col-sm-12">#}
                            {#{{ form_widget(freeForm.save, {'attr': {'class': 'btn btn-primary'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#{{ form_rest(freeForm) }}#}
                    {#<input type="hidden" name="checker" value="1" />#}
                {#</form>#}

            </div>


        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}

    {% javascripts
        'bundles/portfolio/js/jquery-2.1.3.min.js'
        'bundles/portfolio/js/bootstrap.min.js'
        'bundles/portfolio/js/jquery.scrollTo-1.4.3.1-min.js'
        'bundles/portfolio/js/pace.min.js'
        'bundles/portfolio/js/transformico.js'
        'bundles/portfolio/js/main_script.js'
        output ='assets/js/compiled-projects.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

