{% extends "PortfolioBundle::base.html.twig" %}

{% block pageTitle %}Robert Saternus - portfolio webdevelopera{% endblock %}

{% block pageDesc %}Projekty stron i aplikacji webowych stworzonych przez Roberta Saternus. Potrzebujesz stworzyć wyjątkową stronę, serwis lub sklep internetowy. Zajrzyj tutaj!{% endblock %}

{% block stylesheets %}

    {% stylesheets
        'bundles/portfolio/css/mainpage.css'
        filter = 'cssrewrite'
        output ='assets/css/compiled-projects.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}


{% block pageBody %}
<body class="projekty">

<div class="cover"></div>

<header id="projects_menu">
    <nav class="navigation">
        <ul>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#home">HOME</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#kim">KIM JESTEM?</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#technologie">TECHNOLOGIE</a></li>
            <li class="special scroll"><a class="active" href="">PROJEKTY</a></li>
            <li class="scroll"><a href="{{ path('portfolio_main') }}#kontakt">KONTAKT</a></li>
            <li class="flag flag_pl flag-active"><a href="#"><img src="{{ asset('bundles/portfolio/img/pl.png') }}" /> </a></li>
            <li class="flag flag_en"><a href="#"><img src="{{ asset('bundles/portfolio/img/en.png') }}" alt="flaga brytyjska" /></a></li>
        </ul>
    </nav>

    <div class="burger">
        <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
            <span class="tcon-menu__lines" aria-hidden="true"></span>
            <span class="tcon-visuallyhidden">toggle menu</span>
        </button>

        <div class="traggle">
            <ul>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#home">HOME</a></li>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#kim">KIM JESTEM?</a></li>
                <li class="scroll tech"><a href="{{ path('portfolio_main') }}#technologie">TECHNOLOGIE</a></li>
                <li class="special scroll active"><a href="">PROJEKTY</a></li>
                <li class="scroll"><a href="{{ path('portfolio_main') }}#kontakt">KONTAKT</a></li>
                <li class="flag flag_pl flag-active"><a href="#"><img src="{{ asset('bundles/portfolio/img/pl.png') }}" /> </a></li>
                <li class="flag flag_en"><a href="#"><img src="{{ asset('bundles/portfolio/img/en.png') }}" alt="flaga brytyjska" /></a></li>
            </ul>
        </div>
    </div>

</header>


<section id="projekty">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>PROJEKTY I REALIZACJE</h1>
                <form action="#">
                    <select name="category_list">
                        <option>WSZYSTKIE</option>
                        <option>SKLEPY INTERNETOWE</option>
                        <option>STRONY WIZYTÓWKI</option>
                        <option>BLOGI</option>
                        <option>WORDPRESS</option>
                        <option>CIĘCIE SZABLONÓW</option>
                        <option>WŁASNE PROJEKTY</option>
                    </select>
                </form>
            </div>

            <!--PROJEKT I-->
            <div class="row">
                <div class="col-md-6 computer">
                    {% image 'bundles/portfolio/img/pidsthailand.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="PIDS Thailand - szkoła nurkowania" />
                    {% endimage %}
                </div>

                <div class="col-md-6 project_desc">
                    <h3>Centrum nurkowania w Tajlandii</h3>
                    <p>Projekt dla szkoły nurkowania z Tajlandii. W rzeczywistości jest to połączenie strony firmowej, bazy wiedzy oraz sklepu internetowego. Całość oparta na systemie WordPress (system sklepowy: WooCommerce). Dodatkowo zaimplementowany został blog oraz forum dla pracowników i klientów. Odpowiadam za stworzenie serwisu, administrację oraz SEO.</p>
                    <ul>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>PHP</li>
                        <li>jQuery</li>
                        <li>Wordpress</li>
                        <li>WooCommerce</li>
                        <li>Administracja</li>
                        <li>SEO</li>
                    </ul>
                    <a class="button" href="http://pidsthailand.com/" target="_blank"> Zobacz projekt </a>
                </div>
            </div>

            <div class="separator">
                <div class="mask"></div>
            </div>


            <!--PROJEKT II-->
            <div class="row">
                <div class="col-md-6 col-md-push-6 computer">
                    {% image 'bundles/portfolio/img/freelancelot.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="FreeLancelot - podróże freelancera" />
                    {% endimage %}
                </div>

                <div class="col-md-6 col-md-pull-6 project_desc">
                    <h3>FreeLancelot.pl - projekt podróżniczy</h3>
                    <p>Strona FreeLancelot.pl to projekt blogowy o podróżach, niezależności oraz spełnianiu marzeń. Strona stworzona w całości przeze mnie od projektu graficznego aż do stworzenia autorskiego szablonu WordPress. Dodatkowo wdrożyłem kilka własnych plugin-ów. Ponadto jestem administratorem oraz odpowiadam za dalszy rozwój projektu.</p>
                    <ul>
                        <li>HTML 5</li>
                        <li>SCSS</li>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>PHP</li>
                        <li>Wordpress - tworzenie motywów</li>
                        <li>Administracja</li>
                        <li>SEO</li>
                        <li>Photoshop</li>
                    </ul>
                    <a class="button" href="http://freelancelot.pl" target="_blank" >Zobacz projekt</a>
                </div>
            </div>

            <div class="separator">
                <div class="mask"></div>
            </div>

            <!--PROJEKT III-->
            <div class="row">
                <div class="col-md-6 computer">
                    {% image 'bundles/portfolio/img/elektromaniak.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="Projekt Elektromaniak.pl" />
                    {% endimage %}
                </div>

                <div class="col-md-6 project_desc">
                    <h3>Elektromaniak - sklep dla elektroników</h3>
                    <p>Sklep Elektromaniak.pl to serwis dla pasjonatów elektroniki. System został oparty o platformę PrestaShop. Odpowiadam za dostosowanie szablonu pod wymagania klienta oraz całą konfigurację serwisu. Zaimplementowałem również system blogowy oraz forum. Dodatkowo wykonałem migrację danych (produkty, klienci, zamówienia itp.) ze starego sklepu klienta.</p>
                    <ul>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>E-commerce</li>
                        <li>PrestaShop</li>
                    </ul>
                    <a class="button" href="http://elektromaniak.pl/" target="_blank">Zobacz projekt</a>
                </div>
            </div>

            <div class="separator">
                <div class="mask"></div>
            </div>

            <!--PROJEKT IV-->
            <div class="row">
                <div class="col-md-6 col-md-push-6 computer">
                    {% image 'bundles/portfolio/img/bwhs_mocaps.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="Kancelaria Prawnicza BWHS" />
                    {% endimage %}
                </div>

                <div class="col-md-6 col-md-pull-6 project_desc">
                    <h3>BWHS - Kancelaria adwokacka</h3>
                    <p>Strona BWHS to projekt stworzony dla kancelarii prawniczej. Całość oparta o system WordPress. Moim zadaniem było dostosowanie szablonu pod projekt graficzny dostarczony przez firmę web-bespokers.com. Dodatkowo również wykonałem wielojęzyczność serwisu oraz przeniesienie całej treści ze starej strony klienta.</p>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>Wordpress</li>
                        <li>Genesis framework</li>
                        <li>Wielojęzyczność</li>
                    </ul>
                    <a class="button" href="http://www.robertsaternus.esy.es/bwhs-master/" target="_blank" >Zobacz projekt</a>
                </div>
            </div>

            <div class="separator">
                <div class="mask"></div>
            </div>

            <!--PROJEKT V-->
            <div class="row">
                <div class="col-md-6 computer">
                    {% image 'bundles/portfolio/img/gosbud_mocaps.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="Firma budowlana - GOS-BUD" />
                    {% endimage %}
                </div>

                <div class="col-md-6 project_desc">
                    <h3>Firma budowlana GOS-BUD</h3>
                    <p>Projekt zrealizowany dla firmy budowlanej Gos-Bud z Sulejowa. Strona jest oparta o system zarządzania treścią Wordpress, co pozwala właścicielom strony na łatwą modyfikację treści oraz dodawanie nowych realizacji budowlanych do portfolia na stronie. Projekt bazujący na gotowym szablonie. Moim zadaniem było zaprojektować stronę oraz zmodyfikować szablon pod wymagania klienta.</p>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Wordpress</li>
                        <li>Photoshop</li>
                    </ul>
                    <a class="button" href="http://gos-bud.com.pl/" target="_blank" >Zobacz projekt</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}

    {% javascripts
        'bundles/portfolio/js/jquery-2.1.3.min.js'
        'bundles/portfolio/js/bootstrap.min.js'
        'bundles/portfolio/js/jquery.nice-select.min.js'
        'bundles/portfolio/js/jquery.scrollTo-1.4.3.1-min.js'
        'bundles/portfolio/js/pace.min.js'
        'bundles/portfolio/js/transformico.js'
        'bundles/portfolio/js/main_script.js'
        output ='assets/js/compiled-projects.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

