{% extends 'AdminBundle::base.html.twig' %}
{% form_theme form 'AdminBundle:Form:form_template.html.twig' %}

{% set pageTitle = tag.id == null ? 'Dodaj tag' : 'Edytuj tag %s'|format(tag.name) %}

{% block pageTitle %} {{ pageTitle }} {% endblock %}

{% block adminContent %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ pageTitle }}
                    </div>
                    <div class="panel-body">

                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.slug) }}
                        {{ form_widget(form.save, {'attr': {'class': 'btn-success  pull-right'}}) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </div>
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->

{% endblock %}